<link rel="stylesheet" href="css/hidebanner.css">
<div class="aboutwrap">
	<div class="aboutheader">
		<div class="row">
			
		</div>
	</div>
	<div class="aboutbody">
		<div class="row">
			<hr>
			<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a ultrices dui. Cras consectetur, urna eu pulvinar viverra, arcu mi posuere dui, sit amet laoreet justo lacus eu.</h4>
		</div>
		<div class="row">
			<div class="large-6 columns">
				<img src="http://placehold.it/550x450">
			</div>

			<div class="large-6 columns">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mattis congue libero eu vehicula. Phasellus lacus velit, malesuada nec massa nec, consequat fringilla orci. Aliquam dictum, libero et ullamcorper interdum, arcu metus ultricies dolor, id gravida est nisi commodo nibh. Sed ac nisl risus.</p>

				<p>Nulla nec facilisis enim. Quisque condimentum ac ipsum sed adipiscing. Maecenas adipiscing convallis auctor. Quisque eu fermentum eros. Sed tincidunt vulputate tortor, ac dapibus mauris vestibulum placerat. Donec nec mi dapibus, scelerisque urna at, vulputate diam.</p>

				<p>Vestibulum egestas at nisi et porttitor. Vestibulum a erat sit amet sem scelerisque consectetur vel sed velit. Proin vel pretium est, ut aliquam urna. Sed sed ultrices libero. Nullam eu auctor turpis, sed elementum ipsum.</p>
			</div>
		</div>
	</div>
</div>