<link rel="stylesheet" href="css/hidebanner.css">
<div  class="servicewrap">
<div class="aboutheader"></div>
<div class="packagewrap">
	<div class="row">
		
		<div class="large-4 columns plan">
			<div class="planheader">
				Package A
				<p>Traditional Church Service</p>
			</div>
			<div class="plandesription">
				<ul>
					<li><img src="img/bluecheck.png">Funeral director and staff</li>
					<li><img src="img/bluecheck.png">Embalming</li>
					<li><img src="img/bluecheck.png">Dressing & casketing</li>
					<li><img src="img/bluecheck.png">Cosmetology & hairsyling</li>
					<li><img src="img/bluecheck.png">Use of facility and staff for viewing/visitation in slumber room (at the Funeral Home or another location)</li>
					<li><img src="img/bluecheck.png">Funeral coach</li>
					<li><img src="img/bluecheck.png">Traditional limousine (seats 6)</li>
					<li><img src="img/bluecheck.png">Cemetery delivery</li>
					<li><img src="img/bluecheck.png">Commital service</li>
					<li><img src="img/bluecheck.png">Transfer of remains to the funeral home (first call)</li>
					<li><img src="img/bluecheck.png">Acknowledgement cards</li>
					<li><img src="img/bluecheck.png">Memorial register album</li>
					<li><img src="img/bluecheck.png">Pallbearers gloves</li>
					<li><img src="img/bluecheck.png">Burial permit</li>
					<li><img src="img/bluecheck.png">Death certificate</li>

					<li><img src="img/bluecheck.png">The following casket is included: Gemini.</li>
				</ul>
			</div>
			<div class="planprice">
				$4,700.00
			</div>
		</div>
		<div class="large-4 columns plan">
			<div class="planheader">
				Package B
				<p>Traditional Church Service</p>
			</div>
			<div class="plandesription">
				<ul>
					<li><img src="img/bluecheck.png">Funeral director and staff</li>
					<li><img src="img/bluecheck.png">Embalming</li>
					<li><img src="img/bluecheck.png">Dressing & casketing</li>
					<li><img src="img/bluecheck.png">Cosmetology & hairsyling</li>
					<li><img src="img/bluecheck.png">Use of facility and staff for viewing/visitation in slumber room (at the Funeral Home or another location)</li>
					<li><img src="img/bluecheck.png">Funeral coach</li>
					<li><img src="img/bluecheck.png">Traditional limousine (seats 6)</li>
					<li><img src="img/bluecheck.png">Cemetery delivery</li>
					<li><img src="img/bluecheck.png">Commital service</li>
					<li><img src="img/bluecheck.png">Transfer of remains to the funeral home (first call)</li>
					<li><img src="img/bluecheck.png">Acknowledgement cards</li>
					<li><img src="img/bluecheck.png">Memorial register album</li>
					<li><img src="img/bluecheck.png">Pallbearers gloves</li>
					<li><img src="img/bluecheck.png">Burial permit</li>
					<li><img src="img/bluecheck.png">Death certificate</li>

					<li><img src="img/bluecheck.png">The following casket is included: Gemini.</li>
				</ul>
			</div>
			<div class="planprice">
				$4,700.00
			</div>
		</div>
		<div class="large-4 columns plan">
			<div class="planheader">
				Package C
				<p>Traditional Church Service</p>
			</div>
			<div class="plandesription">
				<ul>
					<li><img src="img/bluecheck.png">Funeral director and staff</li>
					<li><img src="img/bluecheck.png">Embalming</li>
					<li><img src="img/bluecheck.png">Dressing & casketing</li>
					<li><img src="img/bluecheck.png">Cosmetology & hairsyling</li>
					<li><img src="img/bluecheck.png">Use of facility and staff for viewing/visitation in slumber room (at the Funeral Home or another location)</li>
					<li><img src="img/bluecheck.png">Funeral coach</li>
					<li><img src="img/bluecheck.png">Traditional limousine (seats 6)</li>
					<li><img src="img/bluecheck.png">Cemetery delivery</li>
					<li><img src="img/bluecheck.png">Commital service</li>
					<li><img src="img/bluecheck.png">Transfer of remains to the funeral home (first call)</li>
					<li><img src="img/bluecheck.png">Acknowledgement cards</li>
					<li><img src="img/bluecheck.png">Memorial register album</li>
					<li><img src="img/bluecheck.png">Pallbearers gloves</li>
					<li><img src="img/bluecheck.png">Burial permit</li>
					<li><img src="img/bluecheck.png">Death certificate</li>

					<li><img src="img/bluecheck.png">The following casket is included: Gemini.</li>
				</ul>
			</div>
			<div class="planprice">
				$4,700.00
			</div>
		</div>
	</div>
</div>


<div class="tablewrap">
	<div class="row ">

	</div>
</div>

</div>
